<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dev@cube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://s0.ssl.qhres2.com/static/c83414da3e777247.css#cubesdk.2.0.0">
  <base target="_blank">
  <style>
    #tips {display: none; text-align: center; font-size: 18px; line-height: 1.5;}
    .error-tips {text-align: center;margin:40px 0;color:#f60;font-size: 14px;}
  </style>
  <!--[if IE]>
    <style>
      #tips{display: block}
    </style>
  <![endif]-->
  <style>
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      #tips{display: block}
    }
  </style>
</head>
<body>
  <div id="tips"> cube 开发者工具，暂不支持 IE 浏览器 <br> 推荐使用 Chrome 浏览器</div>
  <div id="doc">
  </div>
  <script src="https://s0.ssl.qhres2.com/static/20f52408d4ef209b.js#cubesdk.2.0.0"></script>
  <script type="module" src="/main.js"></script>
  <script>
    function loadJs(res){
      return new Promise((resolve, reject) => {
        const { origin } = location;
        const script = document.createElement('script');
        script.src = `${origin}/${res}`;
        document.body.appendChild(script);
        script.onload = function(){
          resolve()
        }
        script.onerror = function(){
          reject()
        }
      })
    }
    async function getCubeInfo(){
      const id = new URLSearchParams(window.location.search).get('id');
      if(!/^\w{32}$/.test(id)){
        throw new Error('请指定合法的预览 id。');
      }
      const resp = await fetch('/get_info?id=' + id);
      if(!resp.ok){
        throw new Error('获取 cube 信息失败：网络错误。');
      }
      const body = await resp.json();
      if(!body || body.errno !== 0){
        throw new Error(body.msg || '获取 cube 信息失败：服务器错误。');
      }
      return body.data
    }

    async function renderCube (){
      let data = await getCubeInfo()
      const { init, Cool } = CubeSdk;
      const sysData = {
        cityCode: '101010100',
        mp360Support: true,
        webpSupport: {'lossy':true,'lossless':true,'alpha':true,'animation':true},
        userAgent: 'CUBETOOL ' + navigator.userAgent,
        where: 'dev_preview',
        debug: true
      };
      init(sysData);
      let res = data.res
      delete data.res
      let cool = new Cool({data});

      if (res) {
        await loadJs(res)
      }
      cool.insert('#cube-temp', 'top');
      cool.trigger('show');
      cool.trigger('completeshow');
      return cool
    }
  </script>
</body>
</html>
